.featuresSection {
  padding: 60px 40px;
  background: #ffffff;
  box-shadow: #6b7280 0px 1px 3px 0px, #6b7280 0px 1px 2px 0px;
}
/* f5f7fa */
.featuresContainer {
  max-width: 1250px;
  margin: 0 auto;
}

.featuresTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #111827;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}


.featureTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #111827;
}

.featureDescription {
  color: #6b7280;
  line-height: 1.6;
  margin: 0;
}